/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

/* html{
    font-size: 30px;
} */
html, body {
    padding: 0;
    margin: 0;
    /* set margin & padding to 0 so that elements stratch to edge of browser window */
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header-text {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
    padding: 0 8px;
    /* padding-top: 0;
    padding-bottom: 0;
    padding-left: 8px;
    padding-right: 8px; */
}

/* h1  */
/* #logo-text */
.logo-text
{
    color: rgba(0,0,0,.9);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* font-size: 1.5rem; */
    /* font-size: 1.5em; */
    font-size: 18px;
    display: inline-block;
    /* outline: 1px solid red; */
    margin-right: 20px;
    /* padding-right: 50px; */
    /* background-color: yellow; */
}
.nav-container{
    display: inline-block;
    /* outline: 1px solid blue; */
}
.nav-link
{
    color: rgba(0,0,0,.5);
    text-decoration: none;
    margin-right: 8px;
}

.hero-image {
    background-image: url(../images/arch-bridge-clouds-814499.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    min-height: 750px;
    min-width: 100%;   
    /* opacity: 0.3; */
}

/* .hero-text h2{
    font-family: fantasy;
} */

.hero-image h2 {
    font-family: 'Anton', sans-serif;
    color: antiquewhite;
    /* opacity: 0.3; */
}
/* Flexbox */
.center-center{
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-family: 'Anton', sans-serif; */
}

.about-me {
    padding: 0 8px;
}

/* container determines max size */
.profile-image {
    width: 350px;
    /* another centering technique */
    margin: 0 auto;
}
/* img adapts to container */
/* constrain either by width or height not both
that messes up the aspect ratio */
.profile-image img{
    width:100%;
    border-radius: 50%;
}
/* 
Responsive Web Design Implementation
aka Media Queries!
if/else statements for your CSS
*/

/* 
Common "breakpoints":
S, M, L, XL, Party Size
500px
768px
1024px
1200px
1400px
*/

@media screen and (min-width: 500px){
    
    /* 
    1. Turn the .about-me section into a flex container
    2. Set the width of .about-me-container so that it takes up 70%
    3. Set the width of .profile-image so that it looks good.
    4. Tweak the sizes because it'll look jacked up on the first few attempts.
    */
    
    /* Anywhere you want to shift the layout, add a wrapper div(or section) and turn it into a flex parent(aka "flex container") */
    .about-me {
        display: flex;
        flex-direction: row-reverse
    }
    /* "descendant" selector */
    .about-me div {
        /* These apply to any div anywhere inside of .about-me */
    }
    
    /* "Direct child" selector */
    .about-me > div {
        /* outline: 1px solid red; */
    }

    .about-me-container {
        /* box-sizing: border-box makes this behave in a sane way.
        without it, the .about-me-container takes up 70% + 18px */
        width: 70%;
        padding-right: 18px;
    }
    
    .profile-image {
        /* outline: 5px solid red; */
        /* width: 200px; */
        width: 30%;
    }
}
@media screen and (min-width: 700px){
    .hero-text h2{
        font-size: 48px;
        /* outline: 1px solid red; */
    }
}
@media screen and (min-width: 1024px){
    
}
@media screen and (min-width: 1200px){
    
}
@media screen and (min-width: 1400px){
    
}